.activeNavButton {
  border-bottom: 1px solid white;
}

.nav-toggler {
  color: white;
}

.registration-container {
  width: 500px;
  border: 1px solid #008c17;
  border-radius: 10px;
  margin: 5% auto;
}

.login-container {
  width: 500px;
  border: 1px solid #008c17;
  border-radius: 10px;
  margin: 5% auto;
}

.input-form {
  margin: 2%;
}

input[type='text'],
input[type='password'] {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

input[type='text']:focus,
input[type='password']:focus {
  outline: none;
  box-shadow: 0 0 12px #008c17 !important;
  border: 1px solid #ccc !important;
}

input[type='file'] {
  cursor: pointer;
}

.custom-file-upload {
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin: 4% 0 -2%;
}

.additional-info {
  margin: 3%;
}

.registration-legend {
  width: 150px;
  margin: 2% auto 5%;
}

.login-legend {
  margin: 2%;
}

.account-type {
  font-family: Roboto;
  font-size: 1rem;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* margin: 2%; */
}

.card {
  width: 250px;
  height: 400px;
  margin: 2%;
}

.card .card-img {
  width: 70%;
  height: 50%;
  margin: 2% auto;
  border-radius: 50%;
}

.welcome-tip {
  font-family: Roboto;
  font-size: 1rem;
  margin-top: 2%;
}

.worker-dashboard {
  width: 90%;
  max-width: 500px;
  margin: 1% auto;
}

.worker-btns {
  display: flex;
  justify-content: space-between;
}

.worker-dashboard-form {
  border: 1px solid #008c17;
  border-radius: 5px;
  padding: 2%;
}

.worker-dashboard button {
  margin: 4% 0 2%;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}

.tip-amount-text {
  margin: 10% auto;
}

.tip-input-field {
  margin: 10% auto;
}

.register-buttons {
  display: flex;
  justify-content: space-evenly;
}

/* MODALS */
.tip-success {
  width: 20%;
  height: 100px;
  /* display: none; */
}

.modal {
  margin: 20vh 0 0 -7px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 40px;
  text-align: center;
}

.modal-body div {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
  /* border: 1px solid red; */
}
.okBtn {
  width: 50%;
  padding: 8px;
  margin: 0 auto 40px auto;
  font-size: 1.2rem;
  border: 1px solid rgb(216, 221, 222);
}

.okBtn:hover {
  border: 1px solid rgb(216, 221, 222);
}

.modal-body div .btn {
  width: 40%;
  padding: 5px;
  margin: 0 2%;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid rgb(216, 221, 222);
}

.btn-primary {
  background-color: #008c17;
}

.btn-primary:hover {
  background-color: #1fda3e;
}

/* Login error warning */

.login-error {
  color: red;
  text-align: center;
}
